// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.scss

$primary: #003366;
$secondary: #ff3300;
$secondary-2: #ff840d;
$accent: #9900cc;

$dark: #242424;
$dark-page: #0f0f0f;

//$positive: #00cc66;
$positive: #ff840d;
$negative: #bf2600;
$info: #0059b3;
$warning: #ffd700;

$neutral: #808080;
$dark-2: #3b3538;
